/* .modal {
  color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
} */

/* .modal__content {
  background: #fff;
  position: relative;
  min-width: 498px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 28px, 28px, 36px, 28px;
} */

/* .modal__label {
  display: block;
  margin-bottom: 15px;
} */

/* .modal__text {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
  padding-top: 20px;
  margin-left: 20px;
} */

/* .modal__label {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.modal__submit-button:disabled {
  background-color: rgba(0, 0, 0, 0, 0.5);
  cursor: not-allowed;
  color: rgba(0, 0, 0, 0, 0.5);
}
