.modal {
  color: #000;
  position: fixed;
  z-index: 999;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
  background: #fff;
  position: relative;
  min-width: 498px;
  border-radius: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 28px, 28px, 36px, 28px;
}

.modal__close-button {
  position: absolute;
  border: none;
  width: 16px;
  height: 16px;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  bottom: calc(100% - 50px);
  left: calc(100% - 50px);
  background-image: url("../../images/close-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close-button:hover {
  cursor: pointer;
}

.modal__add-form {
  display: flex;
  flex-direction: column;
}

.modal__add-form_button {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-weight: 700;
  font-size: 16px;
  width: 124px;
  height: 36px;
  margin-top: 20px;
  gap: 8px;
  border-radius: 4px;
  padding: 8px, 16px, 8px, 16px;
  border: none;
  background-color: #000;
  color: #fff;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 40px;
  transition: background-color 0.3s ease-in-out;
}

.modal__add-form_buttom:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal__temp-label {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  height: 20px;
  top: 10px;
  margin-left: 8px;
}

.modal__radio-button {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  width: 16px;
  height: 16px;
  color: #000;
  border-radius: 1px;
  border-color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
}

.modal__text {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
  padding-top: 20px;
  margin-left: 20px;
}

.modal__popup-text {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  width: 100%;
  margin-left: 20px;
  padding-top: 10px;
}

.modal__popup-text:last-of-type {
  margin-bottom: 20px;
}

.modal__title {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
  margin-left: 20px;
  margin-right: 0 auto;
  margin-top: 40px;
}

.modal__input {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  height: 20px;
  width: 440px;
  margin-left: 20px;
  border: none;
  border-bottom: 1px solid #000;
}

.modal__input:first-of-type {
  margin-top: 5px;
}

.modal__input:last-of-type {
  margin-top: 5px;
}

.modal__popup-image {
  min-width: 498px;
  min-height: 498px;
  border-radius: 16px;
}

.modal__error-text {
  color: #ff4d00;
  text-align: center;
}

.modal__switch-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -10px;
}

.modal__switch-text {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 73px;
  height: 20px;
  margin-top: 10px;
  margin-right: -50px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 20px;
  margin-bottom: -88px;
  background-color: #fff;
}

.modal__switch-link {
  cursor: pointer;
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 73px;
  height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-bottom: -88px;
  margin-left: 20px;
  margin-right: 255px;
  background-color: #fff;
  text-decoration: none;
}

.modal__submitbutton:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

/* .modal__title_data {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  width: 100%;
  margin-left: 20px;
  margin-right: 0 auto;
  margin-top: 200px;
} */

/* .modal__label {
  display: block;
  margin-bottom: 10px;
} */

.modal__title_change-profile_data {
  margin-bottom: 0;
}
