.card {
  position: relative;
  width: 325px;
  height: 328px;
  text-align: center;

  border: rgba(0, 0, 0, 0.3);
}

.card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card__name {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  height: 20px;
  z-index: 20;
  margin-top: 20px;
  position: absolute;
}

.name__frame {
  width: 100px;
  height: 24px;
  text-wrap: nowrap;
  text-align: center;
  padding: 2px, 12px, 2px, 12px;
  gap: 8px;
  border-radius: 4px;
  background-color: #fff;
}

.card__image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card__image:hover {
  cursor: pointer;
}

.item__like-button {
  background-image: url("../../images/like-icon.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  border: 2px;
  border-color: rgba(0, 0, 0, 0.6);
  align-items: center;
  position: absolute;
  cursor: pointer;
  top: 25px;
  left: 220px;
  background-size: cover;
  outline: none;
}

.item__like-button_active {
  background-image: url("../../images/like-icon-active.svg");
  background-size: cover;
}
