.header {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
  text-decoration: none;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__right-section {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
}

.add__clothes {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border: none;
  background-color: #fff;
  /* gap: 10px; */
}

.add__clothes:hover {
  cursor: pointer;
}

.header__profile {
  align-items: center;
  text-decoration: none;
  color: inherit;
  text-decoration: none;
}

.header__avatar-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

.header__avatar-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 1px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.header__username-avatar {
  padding-right: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
