/* .sideBar {
  position: absolute;
  justify-content: space-between;
  display: flex;
} */

.profile__image {
  width: 56px;
  height: 56px;
  padding-top: 119px;
  margin-bottom: 40px;
  margin-left: 40px;
  border: 1px;
  position: relative;
  display: flex;
  align-items: center;
}

.profile__name {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  width: 157px;
  height: 25px;
  top: 5px;
  left: 75px;
  color: #000;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
}
