.sideBar {
  width: 100%;
  left: 40px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__image {
  width: 56px;
  height: 56px;
  padding-top: 119px;
  margin-bottom: 40px;
  margin-left: 40px;
  border: 1px;
  position: relative;
  display: flex;
  align-items: center;
}

.profile__name {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  left: 112px;
  color: #000;
  position: relative;
  margin: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
}
