/* .profile__items {
  margin: 0;
} */

.profile__clothes-section {
  width: 1015px;
  height: 676px;
  left: 250px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.profile__add-button {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  width: 88px;
  height: 25px;
  top: 2px;
  left: 100px;
  color: #000;
  border: none;
  background-color: #fff;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0px;
}

.profile__add-new {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  width: 88px;
  height: 25px;
  top: 73px;
  left: 250px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0px;
}
