.profile__items {
  /* width: 100%; */
  /* margin: 0px; */
  /* top: 135px; */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile__clothes-section {
  width: 1015px;
  left: 385px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0px;
}

.profile__add-button {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  /* height: 25px; */
  left: 100px;
  margin: 0px;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  background-color: #fff;
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 0px;
}

.profile__your-items {
  font-family: "Cabinet Grotesk", "Arial", "sans-serif";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  width: 100%;
  /* height: 25px; */
  left: 385px;
  /* position: relative; */
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-right: 20px; */
}
